@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #262626;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.pulse {
    width: 100px;
    height: 100px;
    background: #b44a76;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    animation: animate 5s linear infinite;
}

@keyframes animate {

    0% {
        box-shadow: 0 0 0 0 rgba(204, 72, 134, 0.7), 0 0 0 0 rgba(204, 72, 134,.7);
    }
    20% {
        box-shadow: 0 0 0 50px rgba(204, 72, 134,0), 0 0 0 0 rgba(204, 72, 134,.7);
        transform: scale(.3);
    }

    40% {
        box-shadow: 0 0 0 70px rgba(204, 72, 134,0), 0 0 0 30px rgba(204, 72, 134,.7);
        transform: scale(.5);
    }

    80% {
        box-shadow: 0 0 0 70px rgba(204, 72, 134,0), 0 0 0 50px rgba(204, 72, 134, 0);
        transform: scale(.8);
    }
    100% {
        box-shadow: 0 0 0 70px rgba(204, 72, 134,0), 0 0 0 30px rgba(204, 72, 134, 0);
    }
}